* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
}

.btn {
  margin: 0.375rem 0.75rem;
  color: #fff;
}
